@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-zinc-800 bg-zinc-100 duration-150;
  }

  html.dark {
    @apply text-zinc-100 bg-zinc-800;
  }

  h2 {
    @apply font-bold text-lg;
  }

  ol {
    counter-reset: counter;
    @apply list-none;
  }

  ol li {
    counter-increment: counter;
    @apply flex mt-2;
  }

  ol li::before {
    content: counter(counter) ".";
    @apply text-indigo-500 dark:text-indigo-400 font-bold mr-4;
  }
}
